#ContactCard{
    height: 330px;
    width: 430px;
    opacity: 0.8;
    margin-top: 300px;
    margin-left: 350px;
    float: left;
    border-radius: 10%;
    position: relative;
    margin-bottom: 600px;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bolder;

}

.contactLink{
    color: #008080;
    text-decoration: none;
}

.contactLink:hover{
    color: #98A8A8;
    text-decoration: none;
}

