.techImages {
    height: 90px;
    width: 100px;
    padding: 10px;
}
#header{
    font-family: "Lucida Console", Courier, monospace;
}
#techImgHolder{
    height: 330px;
    width: 430px;
    opacity: 0.8;
    margin-top: 800px;
    /* margin-left: 100px; */
    float: left;
    border-radius: 10%;
    position: relative;
    margin-bottom: 200px;
   
}
