.techImages {
    height: 90px;
    width: 100px;
    padding: 10px;
}
#header{
    font-family: "Lucida Console", Courier, monospace;
}
#techImgHolder{
    height: 330px;
    width: 430px;
    opacity: 0.8;
    margin-top: 100px;
    margin-left: 300px;
    float: left;
    border-radius: 10%;
    position: static;
   
}

#cardHolder{
    flex-direction: row;
    font-weight: bolder;
}