#cardText {
    /* float: left; */
    width: 600px;
    /* margin-top: 200px;
    margin-left: 100px;  */
    border-radius: 10%;
    opacity: 0.8;
    margin-top: 200px;
    /* position: sticky; */
    
    
}

#cartHolder {
    /* flex-direction: row; */
    
}

#header {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bolder;
}

#textBody {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    
}